# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.env
.env.*

# Packaging
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Tools
.ruff_cache/
.mypy_cache/

# Editor
.vscode/*.log
.vscode/ipch/
.pre-commit-config.yaml
