# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
.env
.env.*

# Packaging
build/
dist/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# Tools
.ruff_cache/
.mypy_cache/

# Editor
.vscode/*.log
.vscode/ipch/
.pre-commit-config.yaml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.edit.xml
/.idea/DinoAir3.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sonarlint.xml
/.idea/vcs.xml
